@media screen and (max-width:700px){
    .container{
    display: flex;
    flex-direction: column;
    }
    
    @media screen and (max-width:700px){
    .filme-principal{
    display: flex;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }

}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}
